<h1><%= @post.title %></h1>
<div>
	<%= datetime_to_display_date(Artour.Post.date_created(@post)) %>
</div>
<div>
	<%= to_paragraphs(@post.body) %>
</div>
<div class="post-thumbnails">
	<%= for post_image <- @post_images do
	  link Artour.ImageView.img_tag_for(@conn, post_image.image, :thumbnail, :cloud), to: Artour.ImageView.url_for(@conn, post_image.image, :large, :cloud)

	end %>
</div>