/**
* Base Styles
*/
body{
	font-family: 'Consolas', 'Inconsolata', 'Noto Mono', 'Ubuntu Mono', 'Monaco', 'Menlo', monospace;
}

.container{
	max-width: 850px;
	margin: 0 auto;
	padding: 0 1em;
}
img{
	max-width: 100%;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

.hidden{
	display: none;
}

ul{
	list-style-type: none;
	padding-left: 0;
}



