/**
* Homepage
*/
.post-brief{
	padding-bottom: 1.5em;
	border-bottom: 1px solid gray;
	margin-bottom: 4em;
}

/**
* Pagination
*/
.pagination-container{
	display: flex;
	justify-content: space-between;
	padding-bottom: 4em;
}
$hanging_symbol_margin: -1em;
$symbol_margin: 5px;

.back-container a:before{
	content: "<<";
	//so not underlined on hover
	display: inline-block;
	margin-left: $hanging_symbol_margin;
	margin-right: $symbol_margin;
}
.forward-container a:after{
	content: ">>";
	//so not underlined on hover
	display: inline-block;
	margin-right: $hanging_symbol_margin;
	margin-left: $symbol_margin;
}


/*
* Following styles are used on homepage and post show pages
*/
.post-heading{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
.post-title{
	margin: 0;
}
.nsfw .post-title:after{
	content: "NSFW";
	color: crimson;
	font-size: 0.7em;
}
.nsfw.post-show-heading .post-title:after{
	margin-left: 1em;
}
.post-date{
	font-size: 0.8em;
	text-align: right;
	min-width: 10em;
}

@media screen and (max-width: 600px){
	.post-heading{
		flex-direction: column;
	}
	.post-date{
		text-align: left;
		margin-top: 0.3em;
	}
}

.post-key-image-container{
	display: flex;
	justify-content: center;
	img{
		max-height: 85vh;	
	}
}