/**
* Homepage
*/
.post-brief{
	padding-bottom: 1.5em;
	border-bottom: 1px solid gray;
	margin-bottom: 4em;
}


/*
* Following styles are used on homepage and post show pages
*/
.post-heading{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
.post-title{
	margin: 0;
}
.post-date{
	font-size: 0.8em;
	text-align: right;
	min-width: 10em;
}

@media screen and (max-width: 600px){
	.post-heading{
		flex-direction: column;
	}
	.post-date{
		text-align: left;
		margin-top: 0.3em;
	}
}

.post-key-image-container{
	display: flex;
	justify-content: center;
	img{
		max-height: 85vh;	
	}
}