//Shared styles for all post show pages
$post_show_spacing_margin: 30px;

.post-show-heading{
	margin: $post_show_spacing_margin 0;
}

.post-body-container{
	margin-bottom: $post_show_spacing_margin;
	p{
		margin: 0 0 $post_show_spacing_margin / 2;
	}
	& > p:last-of-type{
		margin-bottom: 0;
	}
}

.post-meta-info{
	margin-top: 2em;
	.meta-title{
		margin-bottom: 0.4em;
	}
}

.post-tags-list{
	display: flex;
	flex-wrap: wrap;
	margin-top: 0;
	padding-left: 0;
	list-style-type: none;
	li{
		flex-grow: 1;
	}
}