.post-thumbnails{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	a{
		flex-basis: 200px;
		display: inline-block;
		margin-bottom: 16px;
		height: 200px;
		width: 200px;
		overflow: hidden;
		img{
			max-width: none;
			max-height: 100%;
		}
	}
}

.lightbox-container, .lightbox-background{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.lightbox-container{
	position: absolute;
	display: flex;
	justify-content: center;
	&.hidden{
		display: none;
	}
	
	.lightbox-background{
		position: fixed;
		background-color: black;
		opacity: 0.8;
		z-index: 1;
	}

	.lightbox-images-container{
		display: inline-block;
		//so we can use z-index
		position: relative;
		z-index: 100;
		img{
			max-height: 100vh;
		}
		//buttons
		.slideshow-right-button, .slideshow-left-button, .close-window-button{
			position: absolute;
			font-family: 'Times', serif;
			text-align: center;
			font-size: 20px;
			border: 2px solid white;
			border-radius: 50%;
			background-color: black;
			color: white;
			cursor: pointer;
			height: 25px;
			width: 25px;
			opacity: 0.5;
			&:hover{
				opacity: 1;
			}
		}
		.slideshow-right-button, .slideshow-left-button{
			bottom: 8px;
		}
		.slideshow-right-button{
			right: calc(50% - 55px);
			&:before{
				content: '\203A';
			}
		}
		.slideshow-left-button{
			right: calc(50% + 55px);
			&:before{
				content: '\2039';
			}
		}
		.close-window-button{
			top: 8px;
			right: 6px;
			&:before{
				content: '\2715';
			}
		}
	}
}