.post-thumbnails{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	a{
		flex-basis: 200px;
		display: inline-block;
		margin-bottom: 16px;
		height: 200px;
		width: 200px;
		overflow: hidden;
		img{
			max-width: none;
			max-height: 100%;
		}
	}
}

.lightbox-container, .lightbox-background, .lightbox-images-container{
	top: 0;
}

.lightbox-container, .lightbox-background{
	right: 0;
	left: 0;
	bottom: 0;
}

.lightbox-container{
	position: absolute;
	&.hidden{
		display: none;
	}
	
	.lightbox-background{
		position: fixed;
		background-color: black;
		opacity: 0.8;
		z-index: 1;
	}

	.lightbox-images-container{
		display: flex;
		justify-content: center;
		position: fixed;
		z-index: 99;
		img{
			max-height: 100vh;
		}
	}
	//buttons
	$lightbox_button_dimensions: 25px;
	.lightbox-button-container{
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		top: calc(100vh - #{$lightbox_button_dimensions * 2 + 10px});
		z-index: 100;
	}

	.slideshow-right-button, .slideshow-left-button, .close-window-button{
		font-family: 'Times', serif;
		text-align: center;
		font-size: 20px;
		border: 2px solid white;
		border-radius: 50%;
		background-color: black;
		color: white;
		cursor: pointer;
		height: $lightbox_button_dimensions;
		width: $lightbox_button_dimensions;
		opacity: 0.5;
		&:hover{
			opacity: 1;
		}
	}

	.slideshow-right-button{
		&:before{
			content: '\203A';
		}
	}
	.slideshow-left-button{
		margin-right: 65px;
		&:before{
			content: '\2039';
		}
	}
	.close-window-button{
		position: absolute;
		top: 8px;
		right: 6px;
		&:before{
			content: '\2715';
		}
	}
}

@media screen and (min-width: 900px){
	//horizontally center fixed element
	//http://stackoverflow.com/questions/2005954/center-a-positionfixed-element
	//with media query look a bit weird for tablets when portrait images are displayed
	//but will have to do for now
	.lightbox-images-container{
		left: 50%;
		transform: translateX(-50%);	
	}
}