.submit_buttons_container{
	display: flex;
	justify-content: space-between;
}
textarea.form-control{
	height: 15em;
}

.date-select {
	display: flex;
	select.form-control{
		display: inline-block;
		width: initial;
		flex-grow: 1;
		&:first-of-type{
			flex-basis: 40%;
		}
	}
}

.form-group .help-block{
	color: #a94442;
}

#autofill-image-button{
	margin-left: 2em;
}