.post-album-image-list{
	padding: 0;
	list-style-type: none;
	li{
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid gray;
		&:last-of-type{
			border-bottom: none;
		}
		& > *{
			display: flex;
			align-items: center;
		}
		.image-title{
			width: 20em;
		}
		.list-item-dragger{
			padding: 2em;
			font-size: 2em;
			&:hover{
				cursor: pointer;
			}
		}
	}
	.cover-image-container{
		background-color: paleturquoise;
	}
}