.post-album-image-list-controls{
	display: flex;
	justify-content: flex-end;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-top: 3em;

	&.hidden{
		display: none;
	}
}
.post-album-image-list{
	padding: 0;
	list-style-type: none;
	li{
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid gray;
		&:last-of-type{
			border-bottom: none;
		}
		& > *{
			display: flex;
			align-items: center;
		}
		.image-title{
			width: 20em;
		}
		.list-item-dragger{
			padding: 2em;
			font-size: 2em;
			cursor: move;
		}
		//for when dragged over
		$dragged_over_margin: 100px;
		&.dragged-over-from-top{
			margin-bottom: $dragged_over_margin;
		}
		&.dragged-over-from-bottom{
			margin-top: $dragged_over_margin;
		}
	}
	.cover-image-container{
		background-color: #d9edf7;
		[data-role="set-cover-image-button"]{
			display: none;
		}
	}
	[data-role="set-cover-image-button"]{
		margin-left: 1em;
	}

}

.post-tags-list{
	//list header
	& > .list-group-item:first-of-type{
		padding-bottom: 2em;
	}
	.list-header{
		display: flex;
		justify-content: space-between;
		.list-heading{
			font-size: 1.563em;
		}
	}
	.error-container, .add-tags-container{
		display: none;
	}
	.add-tag-link{
		margin-top: 0.5em;
		a:before{
			content: '+';
			//so not underlined on hover
			display: inline-block;
			margin-right: 0.2em;
			font-weight: bold;
		}
	}
	&[data-state="add"]{
		.add-tags-container{
			display: block;
		}
		.header-buttons-container{
			display: none;
		}
	}

	&[data-state="error"]{
		.header-buttons-container{
			display: none;
		}
		.error-container{
			display: block;
		}
	}

	.add-tags-container{
		label{
			margin-right: 16px;
		}
		input[type="checkbox"]{
			margin-right: 3px;
		}
		.button-container-right{
			display: flex;
			justify-content: flex-end;
			button{
				margin-right: 12px;
				&:last-of-type{
					margin-right: 0;
				}
			}
		}
	}

	//tag list items
	.tag-item{
		display: flex;
		justify-content: space-between;
		padding-top: 1em;
		padding-bottom: 1em;
	}
}