<h1>Admin Home</h1>

<ul>
	<li><%= link "Categories", to: category_path(@conn, :index) %></li>
	<li><%= link "Formats", to: format_path(@conn, :index) %></li>
	<li><%= link "Posts", to: post_path(@conn, :index) %></li>
</ul>