<h2>Categories</h2>
<ul>
	<%= for category <- @categories do
		content_tag :li, link(Artour.CategoryView.display_name(category), to: Artour.CategoryView.public_show_path(@conn, category))
	end %>
</ul>